@mixin styleText($color,$fs,$fw) {
    color: $color;
    font-size: $fs ;
    font-weight:$fw ;
}
@mixin styleTriangle ($color,$size) {
    border-style:solid;
    border-color: transparent;
    display: inline-block;
    border-top-color:$color;
    border-width:$size;
    
}
@mixin  responsive($screen) {
    @if map-has-key($map:$breakpoints , $key:$screen ){
        $varlue: map-get($map:$breakpoints , $key:$screen);
        @media screen and (max-width:$varlue) {
            @content;
        }
    
    }
    @else{
        @warn "`{$screen}` isn't valid";
    }

}