.showcase {
    .title {
        margin-bottom: $mg-70;
        p {
            width: 60%;
        }
        h3 {
            &::after {
                height: 3px;
                left: 48%;
            }
        }
    }
    .showcase__content {
        .showcase__menu {
            text-align: center;
            list-style: none;
            margin-bottom: 0;
            li {
                display: inline-block;
                .nav-link {
                    box-shadow: none;
                    border: none;
                    padding: 0;
                    @include styleText($color-white-4, $fs-13 + 1, $fw-0);
                    margin: 0 $mg-15;
                    line-height: $lh-1;
                    letter-spacing: $lt-2 + 1;
                    transition: all 0.3s;

                    &:hover {
                        color: $color-black-2;
                    }
                }
                &.active {
                    .nav-link {
                        color: $color-black-2;
                    }
                }
            }
        }

        .showcace__img {
            margin-top: $mg-50;
            .showcase-item {
                width: 25%;
                overflow: hidden;
                .showcase__info {
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .showcase__overlay {
                        position: absolute;
                        text-align: center;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 20px solid $color-gray-0;
                        background-color: $color-gray-1;
                        transition: all 0.3s;
                        opacity: 0;
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: all 0.3s;
                            @include styleText($color-black-0, $fs-27, $fw-0);
                            &:hover {
                                color: $color-yellow-0;
                            }
                        }
                        .overlay__icon {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            transform: translateY(10%);
                            transition: all 0.3s;
                            opacity: 0;
                        }
                        .overlay__bottom {
                            position: absolute;
                            width: 100%;
                            transform: translateY(-7%);
                            text-align: center;
                            bottom: 0;
                            opacity: 0;
                            transition: all 0.3s;
                            h4 {
                                letter-spacing: $lt-4;
                                margin-bottom: $mg-5;

                                a {
                                    @include styleText($color-black-1, $fs-15 - 1, $fw-0);
                                    &:hover {
                                        color: $color-yellow-0;
                                    }
                                }
                            }
                            p {
                                margin: 0;
                                letter-spacing: $lt-4;
                                display: inline-block;

                                a {
                                    @include styleText($color-black-14, $fs-13 - 1, $fw-0);
                                    &:hover {
                                        color: $color-yellow-0;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .showcase__overlay {
                        opacity: 1;
                        .overlay__icon {
                            transform: translateY(-77%);
                            opacity: 1;
                            top: 40%;
                        }
                        .overlay__bottom {
                            transform: translateY(85%);
                            opacity: 1;
                            bottom: 45%;
                        }
                    }
                }
            }
        }
    }
}
//Responsive
//992px
@include responsive("large") {
    .showcase { 
            .title {              
               
                    width: 100%;
                    p{
                        width: 48%;
                    }
                
                
            }
        .showcase__content {
            .showcace__img{
                .showcase-item{
                    width: 33%;
                }
            }
        }
    }
}
//800px

@include responsive("width-800") {
    .showcase {
        .showcase__content {
            .showcace__img{
                .showcase-item{
                    width: 50%;
                }
            }
        }
    }
}

//768px

@include responsive("medium") {
    .showcase {
        .title {              
               
            width: 100%;
           
            p{
                width: 88%;
            }
            h3 {
                &::after {
                   
                    left: 45%;
                }
            }
        
    }
        .showcase__content {
            .showcase__menu {
                li {
                    .nav-link {
                        line-height: $lh-40;
                        margin: 0 $mg-13;
                    }
                }
            }
        }
    }
}

//480px

@include responsive("width-480") {
    .showcase {
        .showcase__content {
            .showcace__img{
                .showcase-item{
                    width: 100%;
                }
            }
        }
    }
}